@using HKQTravellingAuthenication.Models.Tour;
@model IEnumerable<Bookings>


@foreach (var booked in Model)
{
    <div name="itemOrder" class="item mb-4">
        <h4 class="fw-bolder">@booked.tours.TourName</h4>
        <p class="text-muted">
            @booked.tours.StartDate - @booked.tours.EndDate
        </p>
        <div class="card mb-3 p-md-3">
            <div class="row g-0">
                <div class="col-md-3 col-12">
                    <div class="image">
                        <a href="/du-lich/track-booking-no-231116542906/tra-cuu-booking.aspx" target="_blank">
                            <img src="https://media.travel.com.vn/destination/tf_230810035112_014867_Untitled-6-09.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-12 p-3">
                    <h5 class="card-title h5 h6-sm fw-bolder mb-3">
                        <a href="/du-lich/track-booking-no-231116542906/tra-cuu-booking.aspx" title="Sapa - Bản Cát Cát - Fansipan - Vịnh Hạ Long - Hà Nội (Khách sạn 4 sao)">Sapa - Bản Cát Cát - Fansipan - Vịnh Hạ Long - Hà Nội (Khách sạn 4 sao)</a>
                    </h5>
                    <div class="row align-items-center">
                        <div class="col-md-8 col-7">
                            <div class="d-flex d-lg-block justify-content-between">
                                <div>
                                    <div class="s-rate">
                                        <span>9</span>
                                        <div class="s-comment">
                                            <h6 class="fw-bold mb-0">
                                                Tuyệt vời
                                            </h6>
                                            <p>358 quan tâm</p>
                                        </div>
                                    </div>
                                    <p>
                                        <span class="text-muted">Số booking: 231116542906</span><br>
                                        <span class="text-muted">Tour code: NDSGN1333-004-221123VN-D</span>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">1 người, 4 đêm</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-5 text-end">
                            <h6 class="text-primary">Quá hạn thanh toán</h6>
                            <h5 class="text-primary fw-bold">
                                @booked.PriceAdults
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}