@{
    ViewData["Title"] = "Trang chủ admin";
    Layout = "_Layout";
}

@* @section Breadcrumb {
    @{
        ViewData["BreadcrumbTitle"] = ViewData["Title"];
    }
} *@

<center>
    <p style="font-size: 50px;">This is a administrator site</p>
</center>