@model HKQTravellingAuthenication.Models.Tour.Discounts

@{
    ViewData["Title"] = "Loại bỏ thẻ giảm giá";
    Layout = "_Layout";
}

<style>
    .dl-horizontal {
        display: flex;
        flex-wrap: wrap;
    }

        .dl-horizontal dt {
            flex-basis: 30%; /* Điều chỉnh độ rộng của các phần tử dt */
            flex-shrink: 0;
            margin-right: 15px; /* Khoảng cách giữa các phần tử dt và dd */
        }

        .dl-horizontal dd {
            flex-basis: 70%; /* Điều chỉnh độ rộng của các phần tử dd */
            flex-shrink: 0;
        }
</style>


<div class="tile">
    <h3 class="tile-tile">Bạn có chắc chắn là xóa chương trình giảm giá này?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiscountName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountName)
        </dd>
    </dl>

    <form asp-action="Delete" asp-controller="DiscountsAdministrator" asp-area="Tour" method="post">
        <input type="hidden" asp-for="DiscountId" />
        <button class="btn btn-save" value="Delete" type="submit">Xóa</button>
        <a class="btn btn-cancel" href="@Url.Action("Index", "DiscountsAdministrator", new { area = "Tour" })">Hủy bỏ</a>
    </form>
</div>
